<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>

<c:set var="string" value="${value}"/>
<c:if test="${fn:contains(value, 'range')}">
    <c:set var="string" value="${fn:replace(value,'{range=[',between)}"/>
    <c:set var="string" value="${fn:replace(string,',',varEnd)}"/>
    <c:set var="string" value="${fn:replace(string,']}','')}"/>
    <c:set var="value" value="${fn:replace(value,'{','{\"')}"/>
    <c:set var="value" value="${fn:replace(value,'=','\":')}"/>
</c:if>
<c:if test="${fn:contains(value, 'min')}">
    <c:set var="string" value="${fn:replace(value,'{min=',moreThan)}"/>
    <c:set var="string" value="${fn:replace(string,'}','')}"/>
    <c:set var="value" value="${fn:replace(value,'{','{\"')}"/>
    <c:set var="value" value="${fn:replace(value,'=','\":')}"/>
</c:if>
<c:if test="${fn:contains(value, 'max')}">
    <c:set var="string" value="${fn:replace(value,'{max=',lessThan)}"/>
    <c:set var="string" value="${fn:replace(string,'}','')}"/>
    <c:set var="value" value="${fn:replace(value,'{','{\"')}"/>
    <c:set var="value" value="${fn:replace(value,'=','\":')}"/>
</c:if>
<c:if test="${fn:contains(value, 'like')}">
    <c:set var="string" value="${fn:replace(value,'{like=', like)}"/>
    <c:set var="string" value="${fn:replace(string,'}','')}"/>
    <c:set var="value" value="${fn:replace(value,'{','{\"')}"/>
    <c:set var="value" value="${fn:replace(value,'=','\":\"')}"/>
    <c:set var="value" value="${fn:replace(value,'}','\"}')}"/>
</c:if>
<c:if test="${fn:contains(value, 'true')}">
    <c:set var="string" value="${fn:replace(value,'true', varTrue)}"/>
</c:if>
<c:if test="${fn:contains(value, 'false')}">
    <c:set var="string" value="${fn:replace(value,'false', varFalse)}"/>
</c:if>
<c:if test="${string==null}">
    <c:set var="string" value="${varNull}"/>
    <c:set var="value" value="null"/>
</c:if>
<c:if test="${appliedFilter.key=='storage'}">
    <spring:message code='accession.storage.${value}' var="string"/>
</c:if>
<c:if test="${appliedFilter.key=='sampStat'}">
    <spring:message code='accession.sampleStatus.${value}' var="string"/>
</c:if>
<div class="filtval complex" x-key="<c:out value="${normalizedKey}" /><c:out value="${value}"/>"
     i-key="<c:out value="${filter.key}" />"><c:out value="${string}"/></div>
<c:remove var="string"/>