$white-color: white;
$hyperlink: #006db4;
$btn-bg: #88ba42;
$dropdown-bg: #35342f;
$light-grey: #e6e5e0;
$input-color: #6d6c69;
$content-footer-bg: #e7e5df;
$map-bg: #D8D6D0;
$dark-text-color: #2b2924;
$about-text: #4d4c46;

$default-font-family: 'Roboto-Regular';
$emphasis-font-family: 'Roboto-Medium';
$heading-font-family: 'Roboto-Bold';
$light-font-family: 'Roboto-Light';

@font-face {
  font-family: $heading-font-family;
  src: url('fonts/Roboto-Bold.eot');
  src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Bold.woff2') format('woff2'),
  url('fonts/Roboto-Bold.woff') format('woff'),
  url('fonts/Roboto-Bold.ttf') format('truetype'),
  url('fonts/Roboto-Bold.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto-Light.eot');
  src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Light.woff2') format('woff2'),
  url('fonts/Roboto-Light.woff') format('woff'),
  url('fonts/Roboto-Light.ttf') format('truetype'),
  url('fonts/Roboto-Light.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $emphasis-font-family;
  src: url('fonts/Roboto-Medium.eot');
  src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Medium.woff2') format('woff2'),
  url('fonts/Roboto-Medium.woff') format('woff'),
  url('fonts/Roboto-Medium.ttf') format('truetype'),
  url('fonts/Roboto-Medium.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $default-font-family;
  src: url('fonts/Roboto-Regular.eot');
  src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Regular.woff2') format('woff2'),
  url('fonts/Roboto-Regular.woff') format('woff'),
  url('fonts/Roboto-Regular.ttf') format('truetype'),
  url('fonts/Roboto-Regular.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/fontawesome-webfont.woff2') format('woff2'),
  url('fonts/fontawesome-webfont.woff') format('woff'),
  url('fonts/fontawesome-webfont.ttf') format('truetype'),
  url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
 

.genesys-page {
   font-family: $default-font-family;

  .navbar-right ul.dropdown-menu {
    background: $dark-text-color;
    form#loginForm {
      padding: 5px 15px;

      .form-group {
        text-align: left;
        label {
          color: #fff;
          font-weight: 700;
          font-family: $heading-font-family;
          font-size: 14px;
        }
        input {
          border-radius: 0;
          outline: 0 none;
          box-shadow: none;
        }
      }

      .checkbox {
        text-align: left;
        label {
          font-family: $emphasis-font-family;
          color: #fff;
          font-size: 14px;
        }
      }
      
      button.btn {
        font-size: 16px;
        border-radius: 0;
        outline: 0 none;
        font-family: $emphasis-font-family;
        color: $dark-text-color;
      }

      .btn {
        border-radius: 0;
        outline: 0 none;
        font-family: $emphasis-font-family;
        color: $dark-text-color;
        font-size: 14px;
      }
      
      .btn {
        width: 100%;
        margin-top: 10px;
      }
      
      .or {
        display: none;
      }
    }
    li {
      text-align: right;
      a {
        color: $white-color;
        
        &:hover {
          background: #4d4c46;
        }
      }
    }
  }
  
  .navbar-toggle {
    float: left;
    margin-top: 22px;
    margin-right: 5px;
    border: none;
    padding: 9px 10px 25px 4px;

    &:focus, &:hover {
      background: transparent;
    }

    .icon-bar {
      width: 27px;
    }
  }
   a {
    font-family: $default-font-family;
    color: $hyperlink;
    text-decoration: none;
   }

   #loginForm {
    a {
      color: #333;
    }
   }
  .navbar-inverse.navbar-default {
    background: $dark-text-color;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
  }

  .navbar-inverse.navbar-default .navbar-nav {
    &.nav-menu {
      > li {
        > a {
          padding: 32px 16px 23px;
          color: $content-footer-bg;

          &.dropdown-toggle {
            padding-right: 2px;
            .caret {
              margin-left: -3px;
            }
          }
          .badge {
            margin-left: 10px;
            margin-bottom: 2px;
            background-color: #514f49;
            font-size: 11px;
            line-height: 13px;
            font-family: $emphasis-font-family;
            min-height: 22px;
            min-width: 23px;
          }
        }
        &.active, &:hover, &:focus, &.open  {
          > a {
            color: $btn-bg;
            background-color: transparent;
          }
          .dropdown-menu {
            left: 13px;
            top: 80px;
            background-color: $dropdown-bg;
            padding: 0;
            li {
              padding: 0 20px;
              &:last-child {
                a {
                  border-bottom: none;
                }
              }
              &:hover, &:focus, &.active {
                padding: 0;
                &:not(:first-child) {
                  a {
                    &:after {
                      display: block;
                      position: absolute;
                      content: '';
                      width: 100%;
                      height: 1px;
                      background: $light-grey;
                      left: 0;
                      top: -1px;
                    }
                  }
                }
                a {
                  padding: 15px 53px 13px 20px;
                  position: relative;
                  background-color: #3f3e3a;
                }
              }
            }
            a {
              padding: 15px 33px 13px 0;
              color: $light-grey;
              background-color: $dropdown-bg;
              border-bottom: 1px solid $light-grey;
              font-size: 15px;
              font-family: $emphasis-font-family;
            }        
          }
        }
      }
    }

    &.navbar-right {
      .dropdown.open {
        .dropdown-menu {
          top: 79px;
        }
      }
    }
    > li {
      > a {
        padding: 32px 23px 23px 5px;
        font-size: 18px;
        font-family: $emphasis-font-family;
        color: $content-footer-bg;
      }
      &.active, &:hover, &:focus, &.open {
        > a {
          color: $btn-bg;
          background-color: transparent;
        }
      }
    }
  }
  .navbar-header {
    display: none;
  }
  #navbar {
    .navbar-header {
      display: block;
      padding-left: 15px;
    }
  }
  .nav-logo {
    color: $light-grey;
    padding: 15px 5px 8px;
    font-size: 29px;
    height: 100%;
    width: 182px;
    margin-right: 68px;
    img{
      display: inline-block;
      vertical-align: middle;
      width: 65%;
      height: auto;

      &:first-child {
        width: 35%;
        padding-right: 13px;
        padding-bottom: 7px;
      }
    }
  }
  #navbar .header-search {
    float: left;
    padding-top: 17px;
    form.form-inline {
      .form-group {
        width: 467px;
        background-color: #3e3c37;
        border: none;
        input {
          color: $input-color;
          @include placeholder {
            font-family: $emphasis-font-family;
            color: $input-color;
            font-size: 18px;
          }
        }
        &:before {
          color: $input-color;
        } 
      }
    }
  }
  #content {
    background-color: $content-footer-bg;
    margin-top: 79px;
    #content-body-content {
      padding-bottom: 0px;

      .center-divider {
        .row {
          margin-bottom: 0;
        }
      }
    }
    .intro {
      margin-bottom: 6px;
      background: url('../images/welcome-bg.png');
      background-size: cover;
      background-position-y: 100%;
    }
    .intro-image, .intro-text {
      height: 295px;
    }

    .intro-text {
      background: transparent;
      padding: 33px 35px 10px 0px;
      color: $white-color;

      h1 {
        font-family: $heading-font-family;
        font-size: 30px;
        margin-top: 7px;
        margin-bottom: 15px;
      }
      p {
        font-family: $default-font-family;
        font-size: 16px;
        line-height: 23px;
        strong {
          font-family: $heading-font-family;
        }
      }

      .btn-default {
        position: static;
        margin-top: 11px;
        background-color: $btn-bg;
        font-family: $emphasis-font-family;
        font-size: 17px;
        padding: 9px 64px;
        border-width: 2px;
        border-radius: 1px;
        color: $white-color;
        text-transform: uppercase;
      }
    }

    .row.map {
      margin-bottom: 8px;
      background: $map-bg;

      #globalmap {
        background-image: url('../images/map-bg.png');
        background-size: cover;
        background-position: 101.5%;
        height: 305px;
      }
      #stats {
        background: transparent;
        position: relative;
        padding-left: 5px;
        h2.short {
          left: 5px;
        }
        .all-stats {
          margin-top: 85px;

          .one-stat {
            padding: 7px 17px 9px;
            border-top: 1px solid $dark-text-color;

            &:last-child {
              border-bottom: 1px solid $dark-text-color;
            }
            a {
              font-size: 23px;
            }
          }
        }
        p {
          padding: 16px 0px 0px 15px;
          font-family: $default-font-family;
          font-size: 15px;
          line-height: 23px;
        }
      }
    }

    .see-also-row {
      padding: 0 2px;
      margin-bottom: 6px;
      .see-also-block {
        position: relative;
        padding: 0px 2px;
        height: auto;
        .content {
          position: static;
          background-color: #f3f2ef;
          min-height: 208px;

          .see-also-img {
            height: 120px;
            width: 120px;
            margin-left: 19%;
            border-radius: 50%;
            background-position: 43%;
            background-size: cover;
          }
          .body {
            padding-top: 67px;
            .row {
              margin: 0;
            }
          }
          p {
            font-family: $heading-font-family;
            font-size: 16px;
            color: $dark-text-color;
            margin-top: 16px;
            margin-bottom: 21px;
          }
          .form-group {
            margin-left: 2px;
            input {
              padding: 9px;
              &.btn {
                width: 8.7%;
              }
            }
            &:before {
              font-size: 18px;
              left: 93%;
              line-height: 43px;
            }
          }
          .network-list {
            padding-top: 15px;
            a {
              width: 97.15%;
              padding: 0;
            }
            span {
              display: inline-block;
              vertical-align: middle;
              width: 1%;
              font-size: 15px;
            }
          }
          a {
            font-size: 16px;
            line-height: 24px;
            font-family: $heading-font-family;
            display: inline-block;
            vertical-align: middle;
            width: 60%;
            padding-top: 36px;
          }
        }
      }
    }

    .tab-content {
      padding: 50px 0px 30px 0px;
      margin-left: 5px;
      background: $white-color;

      .post-left-pad {
        padding-left: 75px;
      }
      .all-posts {
        padding: 10px 10px 0px;
      }
      .post {
        background: #f3f2ef;
        margin-bottom: 12px;
        padding-bottom: 0px;
        .post-head {
          padding-top: 10px;
          display: table;
        }

        .post-actions {
          color: #bcbab4;
          font-family: $default-font-family;
          font-size: 14px;
          line-height: 17px;
        }

        .post-content {
          color: $dark-text-color;
          font-family: $default-font-family;
          font-size: 16px;
          line-height: 25px;
          padding: 10px 10% 0px 0px;

          p {
            margin: 0px 0 22px;
          }
        }

        .user-icon {
          background: $dark-text-color;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: inline-block;
          margin-left: 10px;
          position: relative;
          overflow: hidden;
          vertical-align: middle;

          &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: 'M';
            font-family: $default-font-family;
            font-size: 16px;
            color: $white-color;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 42px;
          }

          img {
            min-width: 100%;
            height: auto;
          }

        }
        .post-head-content {
          display: inline-block;
          padding-left: 17px;
          font-size: 20px;
          font-family: $heading-font-family;
        }
      }

      #show-moar-news {
        width: 98%;
        margin: 0 auto;
        background: $btn-bg;
        font-family: $emphasis-font-family;
        font-size: 17px;
        color: $white-color;
        text-transform: uppercase;
        padding-top: 8px;
        display: block;
        border: solid 1px#c2dca1;
        text-align: center;
        padding: 10px;
      }
    }
    .content-block {
      margin: 0px 4px 0px 4px;
      position: relative;
      &:first-child {
        margin-bottom: 7px;
      }
    }
    #middle-col.col-md-8 {
        background-color: $content-footer-bg;
      .short {
        left: 5px;
      }
    }
    #right-col.col-md-4 {
      background-color: $content-footer-bg;
      .short {
        left: 0px;
      }

      .blurp {
        background: $white-color;
        padding: 38px 10px 15px;
        .btn-default {
          margin-top: 8px;
          background-color: $btn-bg;
          font-family: $emphasis-font-family;
          font-size: 17px;
          padding: 8px 41px;
          border-width: 1px;
          border-radius: 1px;
          color: $white-color;
          border-color: #c2dca1;
          text-transform: uppercase;
        }
      }

      #crop-list {
        .nav {
          padding: 80px 5px;
          background: $white-color;
        }
        .row {
          margin: 0;
          li {
            border-top: 1px solid #d5d4d3;
            &:last-child {
              border-bottom: 1px solid #d5d4d3;
            }
            a {
              padding: 8px 10px 9px;
              line-height: 22px;
              &:hover, &:active {
                font-weight: bold;
                background-color: #cfcdc7;
              }
            }
          }
        }
      }
    }
  }

  footer {
    > div{
      background: $content-footer-bg;
    }
    .footer-logo {
      width: 15%;
      max-width: 100px;
      margin: 21px auto 10px;

      a {
        display: block;
        color: $dark-text-color;
        img {
          display: inline-block;
          vertical-align: middle;
          height: auto;
          width: 66%;
          &:first-child {
            width: 34%;
            padding-right: 6%;
          }
        }
      }
    }
    .nav {
      margin: 0;
      li {
        margin: 0 0.3%;
        display: inline-block;
        a {
          font-family: $emphasis-font-family;
          font-size: 14px;
          color: $dark-text-color;
          margin: 0;
          padding: 0;
        }
        &:hover {
          a {
            background: transparent;
          }
        }
      }
    }

    #copyright {
      padding: 0 0 2px;
      p {
        font-family: $emphasis-font-family;
        font-size: 11px;
        color: $dark-text-color;
        padding: 13px 0 0 10px;
      }
    }
    .footer-link {
      padding-bottom: 25px;
    }
    .footer-link, .footer-link a {
      color: #bcbab4;
      font-size: 10px;
    }
  }
  form:not(#loginForm) {
    .form-group {
      width: 367px;
      background-color: transparent;
      position: relative;
      height: 44px;
      border: 1px solid #bbbbbb;
      input {
        height: 100%;
        width: 90%;
        background-color: transparent;
        border: none;
        outline: 0 none;
        padding: 16px 8px 9px;
        box-shadow: none;
        border-radius: 0;
        font-family: $emphasis-font-family;
        color: #bbbbbb;
        font-size: 18px;
        @include placeholder {
          font-family: $emphasis-font-family;
          color: #bbbbbb;
          font-size: 18px;
        }
        &.btn {
          width: 9%;
          min-width: 36px;
          padding: 0;
        }
        &:focus, &:active {
          background: transparent;
          box-shadow: none;
          outline: 0 none;
        }
      }
      &:before {
        content: "\f002";
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #bbbbbb;
        position: absolute;
        left: 94%;
        top: 0;
        width: 26px;
        height: 100%;
        line-height: 52px;
        pointer-events: none;
      } 
    }
  }

  .white-background {
      background-color: White;
    }

  .no-pad-left {
    padding-left: 0;
  }

  .no-space {
    padding-left: 0;
    padding-right: 0;
  }
  h2.short {
    background: $dark-text-color;
    font-family: $emphasis-font-family;
    font-size: 18px;
    color: $white-color;
    font-weight: normal;
    min-width: 262px;
    padding: 15px 20px 15px 0px;
    position: absolute;
    left: 2px;
    top: 0;
    margin: 0;
    text-transform: uppercase;

    &:after {
      left: 100%;
      top: 0;
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 49px solid transparent;
      border-left-width: 50px;
      border-left-style: solid;
      border-left-color: rgba(43, 41, 36, 0.7);
    }
  }

  .center-divider {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 67%;   
      width: 4px;
      height: 100%;
      top: 0;
      background: $content-footer-bg;
    }
  }

  #nav-foot {
    width: 75%;
    margin: 0 auto;
    li {
      margin: 0 7px;
    }

    li:not(:first-child) {
      a {
        position: relative;

        &:before {
          content: '\2022';
          position: absolute;
          left: -11px;
          top: 1px;
          width: 5px;
          height: 5px;
        }
      }
    }
  }

//about page
  .top-image {
    background-image: url('../images/about-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 231px;
  }
  
  .green-bg {
    background: $btn-bg;
  }

  .about-page {
    #content-body-content {
      h1.green-bg {
        font-family: $heading-font-family;
        color: $white-color;
        margin: 0;
        font-size: 30px;
        padding: 16px 20px;
      }
      .article {
        margin-bottom: 20px;
      }

      .main-col {
        padding: 33px 40px 49px 39px;
        background: $white-color;
        float: left;
        width: 66.6%;
      }

      .free-text {
        p {
          font-family: $default-font-family;
          font-size: 18px;
          line-height: 30px;
          color: $about-text;
          margin-top: 29px;
          margin-bottom: 0;
          padding-right: 60px;
        }
        
        & > p:first-child {
          font-family: 'Roboto-Light';
          font-size: 24px;
          color: $about-text;
          line-height: 36px;
          margin: 0;
        }

        h1, h2, h3, h4, h5, h5 {
          font-family: $heading-font-family;
        }

        h3 {
          font-size: 24px;
          margin-top: 28px;
          padding-bottom: 6px;
        }

        ul {
          padding: 0;
          margin-top: 30px;
          margin-bottom: 0;
          list-style: none;

          li {
            color: $hyperlink;
            font-family: $default-font-family;
            font-size: 18px;
            line-height: 31px;
            position: relative;
            padding-left: 11px;
            
            p {
              margin-top: 0;
            }
            
            &:before {
              content: "\2022";
              padding-right: 5px;
              color: $about-text;
              position: absolute;
              width: 11px;
              height: 100%;
              left: 0;
              top: 0;
            }
          }
        }
      }

      .article-timestamp {
        font-family: 'Roboto-Light';
        font-size: 14px;
        color: $about-text;
        margin-top: 10px;
        display: none;
      }

      .share-article {
        border-top: 1px solid #d5d4d3;
        border-bottom: 1px solid #d5d4d3;
        margin-top: 57px;
        padding-top: 20px;
        padding-bottom: 19px;
        p {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          font-family: $emphasis-font-family;
          padding-right: 20px;
          font-size: 18px;
          color: $about-text;
        }
        ul {
          display: inline-block;
          vertical-align: middle;
          margin: 0;

          li {
            vertical-align: middle;

            &:before {
              display: none;
            }

            a {
              font-family: $emphasis-font-family;
              font-size: 18px;
              &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
              }
              &.twitter-share-button {
                margin-right: 15px;
                &:before {
                  background-image: url('../images/ICON-TWITTER-N.svg');
                }

                &:hover {
                  &:before {
                    background-image: url('../images/ICON-TWITTER-A.svg');
                  }
                }
              }

              &.linkedin-share-button {
                &:before {
                  background-image: url('../images/ICON-LINKEDIN-N.svg');
                }

                &:hover {
                  &:before {
                    background-image: url('../images/ICON-LINKEDIN-A.svg');
                  }
                }
              }
            }
          }
        }
      }

      .sidebar-nav {
        width: 33.4%;
        float: left;
        ul.cms-menu {
          padding: 0 20px;

          .cms-menu-item {
            border-bottom: 1px solid #d5d4d3;
            padding: 12px 9px 11px;
            a {
              line-height: 26px;
            }

            &:hover, &:active, &:focus {
              background: #ccc9be;
            }
          }
        }
      }
    }
  }

  // contries and institutes list
  .institutes-page {
    .informative-h1 {
      padding-bottom: 15px;
      padding-top: 10px;
    }

    .list-view-controls {
      padding-top: 20px;
    }
  }
  .informative-h1 {
    padding-bottom: 10px;
    h1, p {
      font-family: $heading-font-family;
      font-size: 24px;
      color: $white-color;
      padding-left: 6px;
      margin-top: 9px;
      margin-bottom: 5px;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
  }

  .list-view-controls {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 5px;
    a {
      border: 1px solid #999895;
      display: inline-block;
      background: #e8e8e8;
      font-size: 14px;
      padding: 5px 8px 4px;
      text-transform: uppercase;
      border-radius: 0;
      

      &:before {
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 18px;
        margin-right: 6px;
        
      }

      &.list-map-view:before {
        content: url('../images/ICON-VIEW-MAP.svg');
      }
      &.list-all-view:before {
        content: url('../images/ICON-OVERVIEW.svg');
      }
    }
  }

  .pagination {
    margin: 20px 0;
    li {
      > span, > a {
        background: #efeeef;
        border: 1px solid #949490;
        /*padding: 0px 10px 4px;*/
        padding: 0;
      }

      span, a {
        color: $dark-text-color;
        font-family: $emphasis-font-family;
        font-size: 24px;
        /*line-height: 31px;*/

        &.pagination-input {
          padding: 0;
          input {
            border: none;
            width: 85px;
            font-size: 16px;
            height: 32px;
            vertical-align: top;
          }
        }
      }
      a {
        display: inline-block;
        width: 26px;
      }
      &:first-child, &:last-child {
        span {
          padding: 7px 10px 0px;
          border-radius: 0;
          border: none;
          background: transparent;
          font-size: 14px;
        }
      }
    }
  }
  

  #letter-top, #letter-bottom {
    padding-top: 16px;
    background: #d4d1c6;
    padding-bottom: 18px;
    margin-bottom: 2px;

    .letter-pointer {
      font-family: $default-font-family;
      font-size: 21px;
      padding-left: 5px;
      padding-right: 7px;
      display: inline-block;
    }
  }

  #letter-bottom {
    margin-top: 15px;
    padding-top: 20px;
    margin-bottom: 9px;
  }
  
  .hoofdleter {
    font-family: $heading-font-family;
    font-size: 24px;
    color: $about-text;
    width: 100%;
    background: $content-footer-bg;
    padding: 9px 20px 12px;

    small {
      float: right;
      font-family: $default-font-family;
      font-size: 14px;
      padding-top: 7px;

      a {
        font-size: inherit;
      }
    }
  }

  .institute-list {
    background: #e7e5df;
    padding: 0px 20px;
    > div {
      margin-bottom: 5px;
      padding-top: 11px;
      padding-bottom: 9px;
      font-family: $default-font-family;
      font-size: 14px;
      line-height: 20px;
      clear: both;

        a {
          width: 80%;
        }

        div {
          width: 20%;
          text-align: right;
        }
      &:nth-child(odd) {
        background: #f8f7f4;
      }
      &:nth-child(even) {
        background: #f4f3ee;
      }
    }
  }

  .funny-list {
    background: $content-footer-bg;
    padding: 0;
    margin: 0 20px;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-gap: 0;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    background-image: repeating-linear-gradient(180deg, #f8f7f4, #f8f7f4 40px, #e7e5df 40px, #e7e5df 45px, #f4f3ee 45px, #f4f3ee 85px, #e7e5df 85px, #e7e5df 90px);
    background-image: -moz-repeating-linear-gradient(-90deg, #f8f7f4, #f8f7f4 40px, #e7e5df 40px, #e7e5df 45px, #f4f3ee 45px, #f4f3ee 85px, #e7e5df 85px, #e7e5df 90px);
    background-image: -webkit-repeating-linear-gradient(-90deg, #f8f7f4, #f8f7f4 40px, #e7e5df 40px, #e7e5df 45px, #f4f3ee 45px, #f4f3ee 85px, #e7e5df 85px, #e7e5df 90px);
    background-size: 100% 90px;
    height: auto;
    
    li {
      padding: 12px 0px 13px 10px;
      display: inline-block;
      width: 100%;
      vertical-align: top;
      position: relative;
      max-height: 45px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        left: auto;
        right: 0;
        width: 1px;
        background-color: #e7e5df;
      }

      a {
        font-family: $default-font-family;
        font-size: 14px;
        line-height: 20px;
      }
    }

  }

}

//accession page

.accession-page {
    h1.green-bg {
        margin: 0 -15px 0 -15px;
        padding: 8px 0 14px 19px;
        span {
            color: #ffffff;
            font-size: 15px;
            font-family: $heading-font-family;
            font-size: 30px;
        }
        small {
            font-family: $emphasis-font-family;
            color: #C1DF97;
            font-size: 18px;
        }
    }
    .main-col-header {
        padding-left: 10px;
        background: #D8D6D0;
        margin: 0 -15px 19px -15px;
        padding: 12px 0 11px 25px;
        .checkbox {
            margin: 0;
            input:checked {
              content: "\f00c";
              font-family: 'FontAwesome';  
            }
        }
        a {
            font-size: 14px;
        }
    }
    .alert-info {
        font-size: 14px;
        padding: 18px 15px 17px 22px;
        margin: 0 5px 20px 8px;
    }
    .section-heading {
        background: #ffffff;
        font-size: 18px;
        padding: 15px 15px 14px 20px;
        margin: 0 5px 2px 5px;
        font-family: $heading-font-family;
    }
    .section-inner-content {
        background: #ffffff;
        padding: 20px 20px 39px 22px;
        margin: 0 5px;
        .row {
            margin: 0 0 5px 0;
        }
        .row:nth-child(odd) > div > p {
            background: #f8f7f5;
        }
        .row:nth-child(even) > div > p {
            background: #f3f2ee;
        }
        div {
            padding: 0;
        }
        p {
            margin: 0;
            font-size: 14px;
            font-family: $default-font-family;
            line-height: 40px;
            padding-left: 22px;
        }
    }
    .basic-info {
      .flag {
        width: 20px;
        margin-right: 5px;
      }
        margin-bottom: 14px;
        .section-inner-content {
            .row > div:nth-child(odd) > p {
                margin-right: 3px;
            }
        }
    }
    .collect-info {
        margin-bottom: 20px;
        .section-inner-content {
            padding-bottom: 28px;
        }
    }
    .collect-site {
        .section-inner-content {
         margin-bottom: 20px;
        }
      }
    .data-index {
        .section-inner-content {
            padding-bottom: 25px;
            margin: 0 5px 13px 5px;
             .text-right p {
                border-right: 22px solid #ffffff;
                padding-right: 21px;
            }
            .text-right:nth-child(3n) > p {
                 border-right: none;
              }
            div > .row > div {
                margin: 0;
                border-bottom: 5px solid #ffffff; 
            }
            .row:nth-child(odd) > div > p {
              background: transparent; 
            }
            .row:nth-child(even) > div > p {
              background: transparent; 
            }
            .row {
              background-color: #f3f2ee;
              background-image: linear-gradient(transparent 51%, rgba(248,247,245,1) 49%);
              background-size: 50px 89px;
            }
        }
        .jumbotron {
            background: #e7e7e7;
            padding: 5px 15px 29px 26px;
            margin-bottom: 20px;
            h3 {
                font-family: $emphasis-font-family;
                font-size: 24px;
            }
            small {
                font-size: 16px;
                font-family: $emphasis-font-family;
            }
        }
    }
    #map {
    	height: 300px;
    }
    .imagegallery {
        margin-right: 0;
        margin-left: 0;
        div {
            div {
                .img-wrapper {
                    width: 97%;
                    margin-bottom: 11px;
                    cursor: pointer;
                    position: relative;
                    img {
                        width: 100%;
                    }
                    #accession-image-view {
                        position: absolute;
                        width: 100%;
                        height: auto;
                        margin: 0;
                        max-height: 0;
                        bottom: 0;
                        left: 0;
                        overflow: hidden;
                        display: block;
                        padding: 0 10px;
                        -webkit-transition: max-height 0.4s ease;
                        -moz-transition: max-height 0.4s ease;
                        transition: max-height 0.4s ease;
                    }
                    &:hover > #accession-image-view {
                        max-height: 100%;
                        cursor: pointer;
                    }
                    .image-frame {
                        font-family: $default-font-family;
                        font-size: 12px;
                        background: rgba(209, 216, 202, 0.8);
                        div:first-child,
                        div:nth-child(2) {
                            margin-top: 14px;
                        }
                        div:last-child,
                        div:nth-child(10) {
                            margin-bottom: 14px;
                        }
                        div {
                            background: none;
                            line-height: 18px;
                        }
                        .val {
                            margin-left: -8px;
                        }
                    }
                }
            }
        }
        .section-inner-content {
            padding: 17px 13px 20px 20px;
            margin-bottom: 19px;
        }
    }
}

//crop page
.crop-page {
  .collect-info {
    margin: 0 5px 0 5px;
  }
  .section-heading {
        background: #ffffff;
        font-size: 18px;
        padding: 15px 15px 15px 18px;
        margin: 0 0 2px 0;
        font-family: $heading-font-family;
  }
  .section-inner-content {
        background: #ffffff;
        padding: 20px 20px 27px 18px;
  }
  .green-bg {
    color: #ffffff;
    font-family: $heading-font-family;
    margin: 0 -15px 22px -15px;
    font-size: 24px;
    padding: 18px 15px 22px 20px;
  }
  .about-section {
    margin-bottom: 19px;
    .section-inner-content {
      padding-bottom: 10px;
    }
    .preview {
      p {
        color: #4D4C46;
        padding-left: 0;
        font-family: $light-font-family;
        font-size: 24px;
        line-height: 36px;
        margin: 10px 0 25px 0;
      }
    }
    .free-text {
      div:last-child {
        padding-left: 0;
      }
      p {
        color: #4D4C46;
        font-size: 18px;
        font-family: $default-font-family;
        line-height: 30px;
        margin: 0 0 30px 0;
      }
		
		-webkit-column-count: 3;
		-moz-column-count: 2;
		column-count: 2;
	  	column-gap: 3em;
    }
  }
  .general-info {
    margin-bottom: 21px;
    .section-inner-content {
      padding: 20px 18px 31px 18px;
    }
    .statistics {
      .row > div:first-child {
        margin-bottom: 21px;
        
      }
      p {
        font-size: 14px;
        font-family: $default-font-family;
        margin: 0;
        line-height: 38px;
        background: #f8f7f5;
        padding-left: 22px;
        .stats-number {
        font-size: 14px;
        font-family: $heading-font-family;
        display: inline-block;
        padding-left: 20px;
        border-left: 2px solid #ffffff;
        margin-left: 80px; 
        }
      }
      .btn {
        padding: 5px 17px;
        font-size: 13px;
        border-radius: 0;
        border: 1px solid #91918D;
        margin-right: 4px;
        text-transform: uppercase;
        &:first-child {
          color: #ffffff;
          span {
            color: #ffffff;
          }
        }
        span {
          color: #707070;
          margin-right: 5px;
        }
      }
    }
  }
  .map-section {
    margin-bottom: 20px;
    .map-wrapper {
      width: 77%;
      margin: 0 auto;
      img {
        width: 100%;
      }  
    }
  }
  .tax-rules {
    margin-bottom: 11px;
    .section-inner-content {
      padding: 20px 20px 51px 18px;
      .row {
        background-color: #F8F7F5;
        background-image: linear-gradient(transparent 51%, rgba(243,242,238,1) 49%);
        background-size: 50px 90px;
        margin: 0;
        div {
          border-bottom: 5px solid #ffffff;
          padding: 0;
          &:nth-child(3n+2) {
            p {
              border-left: 8px solid #ffffff;
              border-right: 10px solid #ffffff;
            }
          }
          &:nth-child(3n) {
            p {
              border-right: none;
              border-left: 13px solid #ffffff;
            }
          }
        }
        p {
          margin: 0;
          line-height: 40px;
          font-size: 14px;
          padding-left: 22px;
          border-right: 13px solid #ffffff;
          font-family: $default-font-family;
        }
      }
    }
  }
}

//explore page
.explore-page {
  .fullwidth {
    width: 100% !important;
    float: left !important;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  select.column-changer {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    border: 1px solid #bbbbbb;
    background: transparent;
    font-size: 14px;
    height: 31px;
    padding: 0 10px;
    width: 90%;
  }
  select.column-changer + span.glyphicon.glyphicon-menu-down {
    right: 20px;
    top: 2px;
    pointer-events: none;
  }
  .filters {
    padding-right: 0;
    padding-left: 0;
    #accordion > #panelFilters {
      border-bottom: none;
    }
    #panelFilters > .panel-heading {
      padding: 0px 15px 0 15px;
      height: 64px;
    }
    #panelFilters > .panel-heading > h4.panel-title {
      text-transform: uppercase;
      border-bottom: 1px solid black;
      padding: 0px 5px 0px 5px;
      line-height: 62px;
    }
    #panelFilters > .panel-heading.no-border > h4.panel-title {
      border-bottom: 1px solid white;
    }
    .label-name {
      font-family: $heading-font-family;
    }
    .panel {
      border: none;
      border-bottom: 1px solid #d5d4d3;
      border-radius: 0;
      font-size: 14px;
      font-family: $default-font-family;
      box-shadow: none;
      margin-top: 0;
      .panel-heading + .panel-collapse > .panel-body {
        border: none;
      }
      .btn-default {
        background-color: #87bc38;
        color: #ffffff;
        border: none;
      }
      .form-control {
        border-radius: 0;
        margin-bottom: 10px;
      }
      .input-group-btn {
        vertical-align: top;
      }
      span.input-group-btn {
        input, select {
          width: 44%;
        }
        span.glyphicon.glyphicon-plus {
          vertical-align: top;
        }
        .glyphicon-plus:before {
          color: #bbbbbb;
          font-size: 9px;
        }
      }
      .btn-secondary {
        border-radius: 0;
        background-color: #e9e9e9;
        border-bottom-color: #bbbbbb;
        border-top-color: #bbbbbb;
        border-right-color: #bbbbbb;
        font-size: 12px;
        padding: 6px 9px;
      }
      .panel-body {
        & > div {
          position: relative;
        }
        .form-control {
          font-size: 14px;
          height: 31px;
          padding: 0 12px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          position: relative;
        }
        span.glyphicon.glyphicon-menu-down {
          position: absolute;
          right: 1px;
          z-index: 2;
          top: 1px;
          pointer-events: none;
          display: inline-block;
          width: 27px;
          height: 29px;
          background-color: #e9e9e9;
          line-height: 22px;
          font-size: 13px;
          color: #bbbbbb;
          &:before {
            position: absolute;
            top: 3px;
            left: 7px;
          }
        }
      }
    }
    .panel-default > .panel-heading {
      background-color: transparent;
      a {
        color: #2b2924;
        font-family: $heading-font-family;
        display: inline-block;
        width: 100%;
      }
    }
    .panel-heading .panel-title {
      font-size: 18px;
      padding: 8px 0;
    }
    #collapseFilters .panel-group .panel .panel-heading {
      /*padding: 15px 0 15px 0;*/
      padding: 0;
      height: 40px;
    }
    #collapseFilters .panel-group .panel {
      &:first-child .panel-heading {
        /*padding-top: 10px;*/
      }
    }
    #collapseFilters .panel-title {
      font-size: 14px;
      font-family: $heading-font-family;
      padding: 0;
      line-height: 40px;
    }
    #collapseFilters > .panel-body {
      /*border-top: 1px solid #d5d4d3;*/
      padding: 7px 20px 15px 20px;
    }
    #collapseFilters .panel-body .panel-group .panel-default .panel-body {
      padding: 0 0 15px 0;
    }
    .panel-heading a:after {
      font-family: 'FontAwesome';
      content: "\f077";
      float: right;
      font-size: 14px;
    }
    .panel-heading a.collapsed:after {
      font-family: 'FontAwesome';
      content: "\f078";
      font-size: 14px;
    }
    #panel3 {
      .checkbox label {
        font-size: 14px;
        font-family: $default-font-family;
      }
    }
    .applyBtn {
      background-color: #87bc38;
      padding: 5px 40px;
      font-size: 14px;
      border: none;
      display: block;
    }
    .filtval.complex {
      display: inline-block;
      min-width: 85px;
      margin-right: 11px;
      padding: 6px 20px 6px 10px;
      background-color: #e6e0c5;
      color: #918a6a;
      position: relative;
      margin-bottom: 10px;
      &:after {
        font-family: 'FontAwesome';
        content: "\f00d";
        font-size: 10px;
        position: absolute;
        top: 2px;
        right: 4px;
      }
    }
    div.checkbox-wrapper, div.radio-wrapper {
      position: relative;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      label {
        font-size: 14px;
        font-family: $default-font-family;
        min-height: 22px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        display: inline-block;
      }
      input {
        position: absolute;
        margin: 4px 0 0 -20px;
      }
    }
    div.radio-wrapper {
      input {
        margin: 4px 0 0 0;
      }
    }
  }
    .filters > .panel-group {
      margin-bottom: 0;
    }
    .main-col-header {
      background-color: #d4d1c6;
      padding: 7px 20px 6px 20px;
    }
    .nav-header {
      .list-view-controls {
        padding: 0;
        margin: 10px 0;
        a {
          padding: 6px 15px 4px;
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
        #shareLink {
          .dropdown-menu {
            padding: 10px;
          }
        }
      }
      .pagination {
        margin: 10px 0;
      }
      nav:not(.pull-right) .pagination li:first-child span {
        padding-left: 0;
      }
      /*.pagination li:first-child span {
        padding: 4px 10px;
      }*/
    }
    nav.pull-left form {
      line-height: 0;
      font-size: 10px;
    }
    #explore-table {
      float: right;
      font-family: $default-font-family;
      font-size: 12px;
      padding-left: 20px;
      padding-right: 20px;
      table {
        width: 100%;
        border-spacing: 0 5px;
        border-collapse: separate;
        thead tr {
          td {
            padding: 6px 5px 6px 10px;
            p {
              font-size: 14px;
            }
          }
        }
        tbody tr {
          &:nth-of-type(odd) td {
            background-color: #f8f7f5;
            border-right: 1px solid #e7e5df;
            &:first-child, &:last-child {
              border-right: none;
            }
          }
          &:nth-of-type(even) td {
            background-color: #f3f2ee;
            border-right: 1px solid #e7e5df;
            &:first-child, &:last-child {
              border-right: none;
            }
          }
        }
        tr {
          td {
            padding: 10px 5px 10px 10px;
            p {
              margin: 0;
            }
          }
          td:first-child {
            width: 1%;
            padding-left: 10px;
          }
          td:nth-child(2) {
            width: 3.4%;
            margin: 0;
            padding: 10px 10px 6px 10px;
            input {
              margin: 3px 0 0 0;
            }
          }
          td:nth-child(3) {
            width: 11.4743589%;
            a {
              font-size: 14px;
            }
          }
          td:nth-child(4) {
            width: 13.3333333%;
          }
          td:nth-child(5) {
            width: 12.820512%;
          }
          td:nth-child(6) {
            width: 12.30769230%;
          }
          td:nth-child(7) {
            width: 17.5%;
          }
          td:nth-child(8) {
            width: 16.2820512%;
          }
          td:nth-child(9) {
            width: 10.7692307%;
          }
        }
        tr.acn span.sel {
          background-image: url('../images/icon_row_select.png');
          background-repeat: no-repeat;
          background-position: center left;
          cursor: pointer;
          display: inline-block;
          width: 20px;
          height: 20px;
          background-size: 250%;
        }
        tr.acn span.sel.picked {
          background-position: center right;
        }
      }
    }
    .bottom-pagination-wrapper {
      background-color: #d4d1c6;
      padding: 0 15px;
      margin-top: 15px;
      nav.pull-right .pagination li {
        min-width: 1px;
        min-height: 26px;
        position: relative;
        display: inline-block;
        span {
          padding: 0;
        }
        &:first-child span {
          padding: 5px 0;
        }
      }
      nav.pull-right .pagination {
        margin: 21px 0 12px 0;
      }
      nav.pull-right .pagination li span .form-control.results-per-page {
        border-radius: 0;
        font-size: 14px;
        font-family: $emphasis-font-family;
        border: 1px solid #949490;
        height: 31px;
        padding: 3px 30px 3px 5px;
      }
      nav.pull-left {
        .pagination {
          margin: 24px 0 15px 0;
        }
      }
    }
    #explore-table.fullwidth {
      .bottom-pagination-wrapper {
        margin-right: -20px;
        margin-left: -20px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

//common styles
.section-heading {
  background: #ffffff;
  font-size: 18px;
  padding: 15px 15px 15px 18px;
  margin: 0 0 2px 0;
  font-family: $heading-font-family;
}
.section-inner-content {
  background: #ffffff;
  padding: 20px 20px 27px 20px;
}
.collect-info {
  margin: 0 5px 20px 5px;
}

//country page
.country-page {
  .informative-h1 h1 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .dark-background {
    background-color: #c4c0b6;
    position: relative;
    h1 {
      font-size: 30px;
      font-family: $heading-font-family;
      margin: 15px 0 21px 0;
    }
  }
  .map-wrapper {
    margin-bottom: 20px;
    height: 308px;
  }
  .country-info-wrapper {
    position: relative;
  }
  #map {
    height: 307px;
  }
  .country-info {
    font-size: 14px;
    font-family: $default-font-family;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding-left: 15px;
    .row > div:first-child {
      color: #4d4c46;
    }
    .row > div:nth-child(2) {
      color: #006db4;
    }
    .row {
      margin: 0 0 5px 0;
      &:nth-child(odd) {
        background-color: #d4d1c9;
      }
      &:nth-child(even) {
        background-color: #cecbc3;
      }
      div {
        padding: 10px;
        &:first-child {
          border-right: 2px solid #c4c0b6;
        }
      }
    }
    .row:first-child > div:nth-child(2){
        p span.glyphicon-menu-right {
          font-size: 10px;
        }
    }
    .row:nth-of-type(2) > div:nth-child(2){
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .row:nth-of-type(5) > div:nth-child(2){
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    a {
      display: inline;
    }
    p {
      margin-bottom: 0;
      display: inline-block;
    }
    .buttons-container {
      display: inline-block;
    }
    .row.buttons-wrapper {
      display: none;
      background-color: transparent;
    }
    .btn-primary {
      color: #ffffff;
      background: #88BA42;
      padding: 5px 17px;
      font-size: 13px;
      border-radius: 0;
      border: 1px solid #91918D;
      margin-right: 4px;
      text-transform: uppercase;
    }
    .btn-default {
      padding: 5px 17px;
      font-size: 13px;
      border-radius: 0;
      border: 1px solid #91918D;
      margin-right: 4px;
      text-transform: uppercase;
    }
    span.glyphicon-menu-right {
      font-size: 9px;
    }
  }
  .inst-accs.collect-info > .section-inner-content {
    padding-top: 18px;
  }
  .section-inner-content {
    .row {
      margin: 0 0 5px 0;
      &:nth-child(even) {
        background-color: #f3f2ee;
      }
      &:nth-child(odd) {
        background-color: #f8f7f5;
      }
      div {
        padding: 10px;
        line-height: 20px;
        &:first-child {
          display: table;
          border-right: 2px solid white;
        }
      }
    }
    p {
      margin-bottom: 0;
      font-size: 14px;
      font-family: $default-font-family;
    }
    a {
      display: inline-block;
      font-size: 14px;
      padding-left: 10px;
    }
    span {
      display: table-cell;
      vertical-align: top;
      width: 20px;
      font-size: 14px;
      font-family: $default-font-family;
    }
  }
  .inst-wiews.collect-info{
    .section-inner-content {
      .row {
        div {
          border-right: none;
        }
      }
    }
  }
}
@media (min-width: 990px) and (max-width: 1919px) {
    .genesys-page {

      .navbar-collapse.collapse, .navbar-collapse.collapsing {
        height: auto !important;
        overflow-x: hidden;
        .nav.navbar-nav.nav-menu {
          display: none;
          position: fixed;
          top: 79px;
          left: 0px;
          max-height: 95%;
          max-height: calc(100% - 79px);
          overflow-y: auto;

        }
        &.in {
          .nav.navbar-nav.nav-menu {
            display: block;
            padding-bottom: 43px;
          }
        }
      }
      #navbar {
        .navbar-header {
          padding-left: 0;
        }
        .navbar-right {
          > li {
            > a {
              padding: 30px 26px 23px 5px;
            }
          }
        }
        .header-search {
          padding-left: 0;

          form.form-inline:not(#loginForm) .form-group {
            width: 250px;

            input.form-control {
              width: 84%;
            }
            &:before {
              left: 89%;
            }
          }
        }
      }

      //about page
      .top-image {
        background-image: url('../images/about-banner-tablet.png');
        min-height: 230px;
        background-position: 0% 53%;
      }

      .about-page #content-body-content {
        .article {
          margin-bottom: 0;
        }

        .main-col {
          width: 73.5%;
        }

        .sidebar-nav {
          width: 26.5%;

          ul.cms-menu {
            padding: 0;

            .cms-menu-item {
              padding: 14px 10px 9px;
            }
          }
        }

        .free-text {
          p {
            padding-right: 0;
          }
        }

        .share-article {
          margin-top: 45px;
          padding-right: 13px;

          p {
            padding-right: 12px;
          }
        }
      }

      //country list

      #letter-top {
        padding-bottom: 22px;
      }

      .hoofdleter {
        padding: 9px 23px 12px 20px;
        small {
          padding-top: 10px;
        }
      }

      .funny-list {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
      }

    }
  }

  @media (max-width: 1919px) {
    .genesys-page {
      .hidden-md {
        display: none;
      }
      .navbar-toggle {
        display: block;
        margin-right: 20px;
      }
      .navbar-collapse.collapse {
        .nav.navbar-nav.nav-menu {
          width: 262px;
          background: $dark-text-color;

          li {
            display: block;
            width: 100%;
            padding: 0 19px;
            position: relative;

            a {
              line-height: 21px;
              padding: 14px 0;
              border-bottom: 1px solid #555450;

              .badge, .caret {
                position: absolute;
                left: auto;
                right: 0;
              }
              .caret {
                top: 25px;
                right: 10px;
              }
            }

            &:hover, &:focus, &.active, &.open {
              padding: 0;
              &:not(:first-child) {
                a {
                  &:after, &:before {
                    display: block;
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: #555450;
                    left: 0;
                    top: -1px;
                  }
                  &:before {
                    top: auto;
                    bottom: -1px;
                  }
                }
              }
              a {
                padding: 14px 19px;
                position: relative;
                background-color: #33322d;
                color: $content-footer-bg;

                .badge {
                  right: 19px;
                }
                .caret {
                  right: 29px;
                }
              }

              .dropdown-menu {
                width: 100%;
                position: static;
                border: none;
                box-shadow: none;
                float: none;
                li {
                  padding: 0;
                  &:hover, &:focus, &.active, &.open {
                    a {
                      padding: 14px 19px;
                    }

                    &:not(:first-child) {
                      a {
                        &:after, &:before {
                          background: #555450;
                        }
                      }
                    }
                  }
                }
                a {
                  padding: 14px 19px;
                }
              }
            }
          }
        }
      }
      #content {
        .intro {
          background-position-y: 97%;
          background-position-x: 62%;
          .intro-text {
            height: 296px;
          }
        }
        .row.map #globalmap {
          background-position: 71%;
          height: 305px;
        }

        .see-also-row {
          .see-also-block {
            p {
              padding-left: 5.7%;
            }
            .content {
              .form-group {
                width: 87%;
                margin-left: 5.7%;

                input.form-control {
                  width: 85%;
                }
                &:before {
                  left: 90%;
                }
              }
              .network-list {
                padding-left: 5.7%;
              }
              a {
                width: 89%;
                padding-left: 5.7%;
              }
            }
          }
        }

        #middle-col.col-md-8 {
          .post-head-content {
            padding-left: 7px;
          }
          .post-left-pad {
            padding-left: 63px;
          }

          .post-content {
            padding-right: 10px;
            p {
              br {
                display: none;
              }
            }
          }
        }

        #right-col.col-md-4 {
          .blurp {
            padding: 38px 0px 15px 3px;
            br {
              display: none;
            }
          }
        }

        #right-col.col-md-4 #crop-list {
          .nav {
            padding-bottom: 40px;
            padding-top: 70px;
            li:first-child:not(.all-crops) {
              border-top: none;
            }
          }
        }

        .content-block:first-child {
          margin-bottom: 4px;
        }
      }

      footer {
        .footer-logo {
          margin-top: 25px;
        }

        #copyright {
          p {
            padding-top: 22px;
          }
        }
      }
    }
  }

@media (max-width: 1691px) {
    //country page {
      .country-page {
        .map-wrapper {
          height: 350px;
        }
        #map {
          height: 330px;
        }
      }
    }

  @media (max-width: 1450px) {
    .explore-page .nav-header nav:not(.pull-right) .pagination {
      margin: 10px 0;
      margin: 0;
      li {
        &:first-child {
          display: block;
          span {
            padding: 0;
          }
        }
        &:last-child {
          display: none;
        }
        min-width: 1px;
        min-height: 26px;
        position: relative;
        span {
          display: inline-block;
        }
      }
    }
    .explore-page .nav-header {
      .list-view-controls {
        margin: 23px 0 13px 0;
      }
    }
    .explore-page {
      .main-col-header {
        padding: 0px 20px;
      }
      .filters .panel-heading .panel-title {
        padding: 13.5px 0;
        #collapseFilters .panel-title {
          padding: 0;
        }
      }
      .filters #collapseFilters > .panel-body {
        padding: 0px 15px 15px 15px;
      }
      .filters #panelFilters > .panel-heading > h4.panel-title {
        padding: 0;
      }
      .filters #panelFilters > .panel-heading {
        height: 67px;
      }
      .filters #panelFilters > .panel-heading > h4.panel-title {
        line-height: 66px;
      }
    }

  }

  @media (max-width: 1460px) and (min-width: 1200px) {
    //explore-page
    .explore-page {
      .filters {
        width: 20%;
      }
      .main-col-header {
        width: 80%;
      }
      #explore-table {
        width: 80%;
      }
    }
  }

  @media (max-width: 1450px) and (min-width: 1200px) {
    //accession-page
    .accession-page {
      .imagegallery div div .img-wrapper {
        #accession-image-view {
          font-size: 11px;
          padding: 0 5px;
        }
        .image-frame .val {
          margin-left: 0;
        }
      }
    }
  }

  @media (max-width: 1425px) {
    //country page
    .country-page {
      .map-wrapper {
        height: 370px;
      }
      #map {
        height: 350px;
      }
    }
  }

  @media (max-width: 1198px) {
    //accession-page
    .accession-page {
      .imagegallery div div .img-wrapper {
        margin: 0 auto 15px auto;
      }
    }
    //crop page
    .crop-page {
      .map-section .map-wrapper {
        width: 100%;
      }
      .free-text {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      }
    }
    //country page
    .country-page {
      .map-wrapper {
        height: 430px;
      }
      #map {
        height: 410px;
      }
      .country-info .buttons-container {
        display: none;
      }
      .country-info .row.buttons-wrapper {
        display: block;
        padding: 10px 5px;
        a {
          display: inline-block;
        }
      }
    }
  }

  @media (max-width: 990px) {
    //accession-page
    .accession-page {
      h1.green-bg {
        padding: 7px 0 14px 27px;
      }
      .main-col-header {
        padding: 10px 0 11px 25px;
      }
      .alert-info {
        padding: 16px 15px 17px 22px;
        margin: 0 7px 20px 3px;
      }
      .section-heading {
        padding-bottom: 16px;
      }
      .basic-info {
        margin-bottom: 19px;
        .section-inner-content {
          padding: 20px 20px 24px 21px;
          p {
            padding-left: 18px;
          }
        }
      }
      .imagegallery {
        .section-inner-content {
          padding: 20px 19px 26px 17px;
          margin-bottom: 20px;
        }
        div div .img-wrapper {
          margin-bottom: 5px;
          width: 98%;
        }
      }
      .collect-info {
        .section-inner-content {
          padding: 18px 20px 26px 21px;
          p {
            padding-left: 18px;
          }
        }
      }
      .data-index {
        .section-inner-content {
          margin-bottom: 4px;
          p {
            padding-left: 19px;
          }
          .wrap-col {
            width: 31.9%;
            margin-right: 2.15%;
            .row > div:last-child > p {
              padding-left: 0;
            }
          }
        }
      }
    }
    //country page
    .country-page {
      .dark-background h1 {
        margin-bottom: 18px;
      }
      .map-wrapper {
        height: 350px;
      }
      #map {
        height: 350px;
      }
      .country-info {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 991px) {
    //crop page
    .crop-page {
      .about-section .free-text div:last-child {
        padding-left: 15px;
      }
    }
    //explore-page
    .explore-page {
      .main-col-header {
        padding: 5px 20px;
      }
      .nav-header .list-view-controls {
        margin: 25px 0 6px 0;
      }
      .filters #panelFilters > .panel-heading > h4.panel-title {
        padding: 13px 0 20px 0;
      }
      .filters #collapseFilters > .panel-body {
        padding: 7px 20px 15px 20px;
      }
      #explore-table {
        table thead tr {
          td {
            padding: 0;
          }
          td:nth-child(3) {
            padding-left: 29px;
          }
        }
        table tr {
          td:first-child {
            width: 0.5%;
          }
          td:nth-child(2) {
            width: 6.5%;
            padding: 10px 10px 6px 5px;
          }
          td:nth-child(3) {
            /*width: 33.428165%;*/
            width: auto;
          }
          td:nth-child(4) {
            /*width: 29.445234%;*/
            width: auto;
          }
          td:nth-child(5) {
            /*width: 26.6002844%;*/
            width: auto;
          }
          td:nth-child(6) {
            width: auto;
          }
          td:nth-child(7) {
            width: auto;
          }
          td:nth-child(8) {
            width: auto;
          }
          td:nth-child(9) {
            width: auto;
          }
        }
      }
    }
    //country page
    .country-page {
      .map-wrapper {
        height: 350px;
      }
      #map {
        height: 350px;
      }
    }
  }

  @media (max-width: 991px) and (min-width: 961px) {
    //explore-page
    .explore-page {
      #explore-table.fullwidth > table tr td:nth-child(7) {
        display: block !important;
        width: auto;
        line-height: 20px;
        p {
          display: block;
          min-height: 20px;
        }
      }
      #explore-table.fullwidth {
        table tr {
          td:first-child {
            width: 0.5%;
          }
          td:nth-child(2) {
            width: 6%;
            padding: 10px 10px 6px 10px;
          }
          td:nth-child(3) {
            /*width: 26.315789%;*/
            width: auto;
          }
          td:nth-child(4) {
            /*width: 21.5789473%;*/
            width: auto;
          }
          td:nth-child(5) {
            /*width: 21.5789473%;*/
            width: auto;
          }
          td:nth-child(6) {
            /*width: 21.684210%;*/
            width: auto;
          }
          td:nth-child(8) {
            width: auto;
          }
          td:nth-child(9) {
            width: auto;
          }
        }
      }
      .filters #panelFilters > .panel-heading {
        padding: 0px 20px 0 20px;
        height: 72px;
      }
      .filters #panelFilters > .panel-heading > h4.panel-title {
        padding: 0;
        line-height: 71px;
      }
    }
  }

  @media (max-width: 989px) {
    .genesys-page {
      .navbar-toggle {
        display: block;
        margin-right: 20px;
        margin-top: 25px;
        padding: 9px 10px 9px 4px;
      }
      .nav-logo {
        margin-right: 0;
        margin-left: 22px;
        padding-top: 17px;
      }
      .navbar-header {
        margin: 0;
      }

      .navbar-header {
        display: block;
      }
      #navbar {
        .col-md-6 {
          position: static;
        }
        .navbar-header {
          display: none;
        }
      }
      .navbar-collapse.collapse {
        display: none !important;
      }
      .navbar-collapse.collapse.in, .navbar-collapse.collapsing {
        width: 100%;
        position: fixed;
        top: 80px;
        left: 0;
        background: $dark-text-color;
        max-height: 95%;
        max-height: calc(100% - 80px);
        margin: 0;
        padding-right: 15px;
        padding-left: 15px;
        overflow: auto !important;
        &.in {
          display: block !important;
          padding-bottom: 30px;
        }

        .navbar-nav.nav {
          float: none !important;
          margin: 0;
          width: 100%;

          li {
            float: none;
            text-align: left;
            a {
              padding: 14px 0px;
              border-bottom: 1px solid #555450;
              .badge {
                min-width: 26px;
              }
              .caret {
                position: absolute;
                top: 25px;
                right: 10px;
                left: auto;
              }
            }
          }

          &.nav-menu {
            width: 100%;
            padding-top: 85px;

            li {
              padding: 0px;
              a {
                padding: 14px 0px;
              }
            }
          }

          li {
            &:hover, &:focus, &.active, &.open {
              a {
                padding: 14px 0;
                background-color: transparent;
                color: #e7e5df;
              }

              .dropdown-menu {
                background: transparent;
                width: 100%;
                position: static;
                float: none !important;
                box-shadow: none;
                border: none;

                li {
                  width: 100%;
                  a {
                    font-size: 15px;
                    font-family: $emphasis-font-family;
                    color: #e7e5df;
                    padding: 14px 19px;
                  }
                }
              }
            }
          }
        }

        #loginForm {
          .form-group, .checkbox {
            label {
              color: #e7e5df;
              font-family: $emphasis-font-family;
              font-size: 15px;
            }
          }

          .btn {
            width: 100%;
            color: #e7e5df;
            border-bottom-color: #ccc;
          }

          .google-signin {
            margin-bottom: 20px;
          }
        }

        &#navbar .header-search {
          float: none;
          padding: 0px;
          position: absolute;
          top: 20px;
          left: 20px;
          right: 20px;

          form.form-inline:not(#loginForm) .form-group {
            width: 100%;

            input.form-control {
              display: inline-block;
              vertical-align: middle;
              width: 88%;
            }
            &:before {
              left: auto;
              right: 10px;
            }
          }
        }
      }

      #content {
        .intro {
          background-position-x: 31%;
          .intro-text {
            height: 373px;
            padding: 22px 10px;

            .free-text {
              padding: 0px 15px 0px 10px;
            }
            .btn {
              width: 100%;
              margin-top: 15px;
            }
          }
        }
        .row.map {
          #stats {
            height: 460px;
            background-image: url('../images/map-bg-mobile.png');
            background-position-x: 0;
            background-position-y: 51px;
            background-size: 380px auto;
            background-repeat: no-repeat;

            h2.short {
              left: 0;
            }
            .stats-map {
              width: 68.5%;
              p {
                text-align: right;
                padding-top: 22px;
              }
            }
            .all-stats {
              margin-top: 0;
              padding-top: 260px;
              .one-stat {
                padding-left: 0;
                padding-right: 0;
                text-align: right;
              }
            }
          }
          .hidden-xs {
            display: none;
          }
        }

        .see-also-row {
          padding: 0;
          margin-bottom: 0;
          .see-also-block {
            padding: 0;
            border-bottom: 4px solid #e7e5df;
            p {
              padding-left: 20px;
            }
            .content {
              min-height: 205px;
              .body {
                padding-top: 62px;
                padding-bottom: 33px;
              }
              .form-group {
                width: 91%;
                margin-left: 20px;

                input.form-control {
                  width: 85%;
                }
                &:before {
                  left: 90%;
                }
              }
              .network-list {
                padding-left: 20px;
                padding-top: 20px;
              }
              a {
                width: 74%;
                padding-left: 20px;
                padding-top: 40px;
              }
            }
          }
        }

        .center-divider:after {
          display: none;
        }

        #middle-col.col-md-8 {
          .post-head-content {
            padding-left: 14px;
            padding-top: 6px;
          }
          .post-left-pad {
            padding-left: 14px;
            padding-top: 0;
          }
          h2.short {
            left: 0;
          }
        }

        #right-col.col-md-4 {
          .blurp {
            padding: 38px 0px 15px;
          }
          .free-text {
            padding: 40px 0px 15px;
            p {
              padding: 2px 35px 0px 8px;
            }

            .btn {
              width: 95%;
              margin: 0 auto;
              display: block;
            }
          }
          #crop-list {
            .nav {
              padding-bottom: 28px;
              padding-top: 71px;
              li:first-child:not(.all-crops) {
                border-top: none;
              }
            }
          }
        }

        .tab-content {
          border-bottom: 4px solid #e7e5df;
          #show-moar-news {
            width: 95%;
          }
          .post {
            .post-head-content {
              padding-left: 15px;
            }
            .post-actions {
              padding-top: 10px;
            }
            .post-left-pad {
              padding-left: 15px;
            }

            .post-inner {
              padding-right: 10px;
            }
          }
        }
        .content-block {
          margin: 0px;
        }
      }
      h2.short {
        left: 0;
      }

      footer .footer-logo {
        width: 30%;
      }
      #nav-foot {
        width: 100%;
        margin: 0 auto;
        padding-top: 11px;
        padding-bottom: 17px;
        .nav {
          padding-bottom: 12px;
        }

        li:not(:first-child) {
          a {
            &:before {
              display: none;
            }
          }
        }

        li {
          width: 100%;
          text-align: center;
          padding: 3px 0px;
        }
      }
      // about page

      .top-image {
        background-image: url('../images/about-banner-mobile.png');
        min-height: 181px;
        background-position-y: 25%;
      }

      .about-page #content-body-content {
        .main-col {
          width: 100%;
          padding: 0 0 49px 0;

          .free-text {
            padding: 35px 35px 0 17px;

            p {
              font-size: 16px;
              line-height: 24px;
              margin-top: 33px;
              padding-right: 0;

              &:first-child {
                line-height: 26px;
                font-size: 20px;
                margin: 0;

                a {
                  font-size: inherit;
                }
              }

              a {
                font-size: inherit;
              }
            }

            h3 {
              line-height: 29px;
              padding-bottom: 0px;
            }

            ul.article-list {
              margin-top: 23px;

              li {
                line-height: 24px;
                font-size: 16px;

                a {
                  font-size: inherit;
                }
              }
            }

            ul + p {
              margin-top: 25px;
            }
          }
        }

        .sidebar-nav {
          width: 100%;

          ul.cms-menu {
            padding: 0;
            margin-bottom: 0;

            .cms-menu-item {
              padding: 11px 19px 12px;
            }
          }
        }

        p {
          padding-right: 0;
        }

        .share-article {
          margin-top: 46px;
          padding-right: 13px;
          padding-left: 20px;
          padding-top: 19px;
          padding-bottom: 20px;

          p {
            font-size: 18px;
            padding-right: 18px;
            margin-top: 0;
          }
          ul {
            li {
              padding-right: 0;
              a {
                font-size: 0;
              }
            }
          }
        }
      }

      //country list
      .informative-h1 {
        padding-bottom: 16px;
        h1 {
          margin-top: 18px;
        }
        p {
          display: none;
        }
      }
      .list-view-controls {
        padding-right: 0;
        text-align: center;
        width: 100%;

        a {
          width: 100%;
          max-width: 300px;

          &.list-map-view {
            margin-bottom: 10px;
          }
        }

        & + form {
          width: 100%;
          text-align: center;
          .paginate {
            padding-left: 0;
          }
        }
      }

      .institutes-page nav {
        width: 100%;
        .pagination {
          width: 100%;
          text-align: center;
          li {
            display: inline-block;
            margin: 0 -2px;
            span.pagination-input input {
              width: 50px;
            }
          }
        }
      }

      .institute-list {
        > div {
          a {
            width: 75%;
          }
          div {
            width: 25%;
          }
        }
      }

      #letter-top, #letter-bottom {
        padding-bottom: 12px;
        padding-top: 9px;
        div {
          text-align: center;
        }

        .letter-pointer {
          font-size: 18px;
          padding: 0px 5px;
        }
      }

      #letter-bottom {
        margin-bottom: 3px;
      }

      .hoofdleter {
        padding: 9px 23px 12px 20px;
        small {
          padding-top: 8px;
        }
      }

      .funny-list {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        margin: 0;
        li {
          padding: 12px 0px 13px 20px;

          &:before {
            display: none;
          }
        }
      }
    }
    //explore page
    .explore-page {
      .filters #panelFilters > .panel-heading {
        height: 122px;
        padding: 0 15px 0 15px;
      }
      .filters #panelFilters > .panel-heading > h4.panel-title {
        padding: 0;
        line-height: 120px;
      }
      .filters #collapseFilters > .panel-body {
        padding: 0px 15px 15px 15px;
      }
      .filters .panel-heading .panel-title {
        padding: 36.5px 0;
        #collapseFilters .panel-title {
          padding: 0;
        }
      }
      .main-col-header {
        padding: 10px 20px;
      }
      .nav-header {
        .list-view-controls {
          margin: 0 0 10px 0;
          font-size: 0;
          a {
            width: auto;
            margin-right: 0;
          }
        }
        nav.pull-left {
          width: 100%;
          text-align: center;
        }
        .pagination li:first-child {
          margin-left: 16%;
        }
      }
      .bottom-pagination-wrapper {
        padding: 15px;
      }
      .bottom-pagination-wrapper nav.pull-right {
        display: none;
      }
    }
    //country page
    .country-page {
      .map-wrapper {
        height: 765px;
      }
      .country-info {
        position: relative;
        width: 100%;
        padding: 0 20px 0 20px;
        margin: 0;
        .row.buttons-wrapper {
          padding: 15px 20px 20px 20px;
          margin-bottom: 0;
          .btn-primary, .btn-default {
            display: block;
            width: 200px;
            margin-right: auto;
            margin-left: auto;
          }
          .btn-primary {
            margin-bottom: 10px;
          }
        }
      }
      .map-container {
        margin-left: 0;
        margin-right: 0;
        & > div {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  @media (max-width: 960px) {
    //explore page
    .explore-page {
      .filters {
        width: 100%;
      }
      .main-col-header {
        width: 100%;
      }
      .filters .panel span.input-group-btn input {
        width: 48%;
      }
      #explore-table {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        table thead tr td:nth-child(3) {
          padding-left: 10px;
        }
      }
      .filters #panelFilters > .panel-heading {
        height: 55px;
      }
      .filters #panelFilters > .panel-heading > h4.panel-title {
        line-height: 54px;
      }
      #explore-table.fullwidth .bottom-pagination-wrapper {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  @media (max-width: 767px) {
    //accession page
    .accession-page {
      .basic-info .section-inner-content .row > div:nth-child(odd) > p {
        margin-right: 0;
      }
      .data-index .section-inner-content .text-right p {
        border-right: none;
      }
      .data-index .section-inner-content .row {
        background-size: 50px 90px;
      }
    }
    //crop page
    .crop-page {
      .tax-rules .section-inner-content .row div:nth-child(3n) p,
      .tax-rules .section-inner-content .row div:nth-child(3n+2) p,
      .tax-rules .section-inner-content .row p {
        border: none;
      }
    .general-info .statistics p .stats-number {
      margin-left: 5px;
      padding-left: 10px;
    }
    .general-info .statistics .btn {
      display: inline-block;
      margin: 0 0 10px 0;
    }
  }
  //explore page
  .explore-page {
    .filters #accordion {
      margin-bottom: 0;
    }
    .filters .panel-heading .panel-title {
      padding: 0;
    }
    #explore-table table {
      tr {
        td:first-child {width:1%; }
        td:nth-child(2) {width:4%; }
        td:nth-child(3) {width:30%; }
        td:nth-child(4) {width:65%; }
      }
    }
  }
  //country page
  .country-page {
    .section-inner-content {
      .row div:nth-child(2) {
        padding-top: 0;
      }
      .row div:first-child {
        border-right: none;
      }
      p {
        padding-left: 20px;
      }
      a {
        padding-left: 0;
      }
    }
    .map-wrapper {
      height: auto;
    }
    #map {
      width: 100% !important;
      margin-bottom: 20px;
    }
  }
}

  @media (min-width: 1920px) {
    .genesys-page {
      #content .intro-text {
        max-width: 625px;
      }
      #right-col.col-lg-4, #middle-col.col-lg-8 {
        width: 50%;
      }

      .center-divider:after {
        left: 50%;
      }

      #crop-list .col-md-12 {
        width: 33.3333333333%;
      }
    }
  }

  @media(max-width: 650px) {
    //explore-page
    .explore-page .filters .panel span.input-group-btn input {
      width: 46%;
    }
  }

  @media(max-width: 500px) {
    //accession page
    .accession-page {
      .collect-site {
        .section-inner-content {
          font-size: 14px;
        }
      }
    }
    //explore-page
    .explore-page {
      .main-col-header {
        padding: 12px 0;
      }
      .nav-header .list-view-controls a {
        padding: 6px 7px 4px;
      }
      #explore-table table thead tr td p {
        line-height: inherit;
      }
    }
  }

  @media(max-width: 420px) {
    //accession page
    .accession-page {
      .collect-site {
        .section-inner-content {
          font-size: 12px;
        }
      }
    }
  }

  @media(max-width: 380px) {
    //accession page
    .accession-page {
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }
      h1.green-bg {
        margin: 0;
      }
      .main-col-header {
        margin: 0 0 20px 0;
      }
      .alert-info {
        margin: 0 20px 20px 20px;
        padding: 17px 15px 17px 20px;
      }
      .section-heading {
        margin: 0 0 1px 0;
      }
      .basic-info {
        .section-inner-content {
          padding: 20px 0 27px 0;
          margin: 0;
          p {
            line-height: 22px;
            padding-left: 21px;
          }
          .row > div:nth-child(odd) > p {
            padding-top: 8px;
          }
          .row > div:nth-child(even) > p {
            padding-bottom: 8px;
          }
          .add-space {
            padding-bottom: 8px;
          }
        }
      }
      .imagegallery {
        .section-inner-content {
          padding: 20px 44px 28px 36px;
          margin: 0 0 22px 0;
        }
        div div .img-wrapper {
          width: 100%;
          margin-bottom: 3px;
        }
      }
      .collect-info {
        .section-inner-content {
          margin: 0 0 20px 0;
          padding: 20px 0 26px 0;
          p {
            padding-left: 22px;
          }
        }
      }
      .collect-site {
        .section-inner-content {
          font-size: 12px;
          margin: 0 0 20px 0;
        }
      }
      .data-index {
        .section-inner-content {
          margin: 0 0 20px 0;
          padding: 20px 0 26px 0;
          .wrap-col .row > div:last-child > p {
            padding-right: 18px;
          }
          p {
            padding-left: 21px;
          }
          .text-right p {
            padding-right: 19px;
          }
        }
        .jumbotron {
          margin: 0 20px 20px 20px;
          padding: 5px 15px 23px 18px;
          h3 {
            margin: 14px 0 13px 0;
          }
        }
      }
      .data-section {
        .section-inner-content {
          margin: 0 0 20px 0;
        }
      }
    }
    //crop page
    .crop-page {
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }
      .green-bg {
        margin: 0 0 20px 0;
      }
      .collect-info {
        margin: 0 0 20px 0;
      }
    }
    //country page
    .country-page {
      .informative-h1 h1 {
        margin-bottom: 0;
        padding-left: 20px;
      }
      .container-fluid {
        padding-right: 0;
        padding-left: 0;
      }
      .map-wrapper {
        margin: 0 0 20px 0;
      }
      .dark-background h1 {
        padding-left: 18px;
        margin: 14px 0 20px 0;
      }
      .country-info {
        padding: 0;
        .row {
          div {
            padding: 10px 5px 10px 20px;
          }
          div:nth-child(2) {
            padding: 10px 5px 10px 34px;
          }
        }
        .row div:first-child {
          border-right: none;
        }
        .row.buttons-wrapper {
          padding: 15px 0 20px 0;
          .btn-default, .btn-primary {
            width: 90%;
          }
        }
      }
      .collect-info {
        margin-left: 0;
        margin-right: 0;
      }
      .inst-accs.collect-info {
        .section-inner-content .row div:first-child {
          padding-bottom: 0;
        }
      }
      .section-inner-content {
        padding: 20px 0px 15px 0px;
          a {
            padding-left: 10px;
          }
          p {
            padding-left: 30px;
          }
      }
      .section-heading {
        padding: 10px 10px 10px 18px;
        line-height: 24px;
      }
      #map {
        height: 288px;
      }
    }
  }

  @media(max-width: 379px) {
    //explore-page
    .explore-page {
      #explore-table table tr td {
        &:first-child {
          width: auto;
        }
        &:nth-child(2) {
          width: auto;
        }
        &:nth-child(3) {
          width: auto;
        }
        &:nth-child(4) {
          width: auto;
        }
      }
      #explore-table table thead tr {
        font-size: 12px;
      }
      #explore-table table thead tr td:nth-child(3) {
        padding-left: 0;
      }
      #explore-table table tr td:nth-child(4) {
        width: 45%;
      }
      select.column-changer {
        font-size: 12px;
      }
      #explore-table table thead tr td p {
        font-size: 12px;
      }
    }
}



