<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <c:out value="${pageContext.response.locale.displayLanguage}" /> <span class="caret"></span>
	</a>
	<ul class="dropdown-menu pull-left">
		<li>
			<a href="<c:url value="/en${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">English</a>
		</li>
		<li>
			<a href="<c:url value="/ar${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">Arabic</a>
		</li>
		<li>
			<a href="<c:url value="/de${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">German</a>
		</li>
		<li>
			<a href="<c:url value="/es${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">Spanish</a>
		</li>
		<li>
			<a href="<c:url value="/fa${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">Persian</a>
		</li>
		<li>
			<a href="<c:url value="/fr${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">French</a>
		</li>
		<li>
			<a href="<c:url value="/pt${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">Portugese</a>
		</li>
		<li>
			<a href="<c:url value="/ru${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">Russian</a>
		</li>
		<li>
			<a href="<c:url value="/zh${pageContext.request.getAttribute('org.genesys2.server.servlet.filter.LocaleURLFilter.INTERNALURL')}" />">Chinese</a>
		</li>
		<li>
			<a target="_blank" href="https://www.transifex.com/projects/p/genesys/"> <spring:message code="menu.translate" />
			</a>
		</li>
	</ul>
</li>